:root {
  --alert: #ec4f4a;
  --a1: #4a634d;
  --a2: #329964;
  --a3: #3a433b;
  --a4: #4caf5b;
  --Title_01: #212121;
  --Title_02: #333333;
  --Body_01: #666666;
  --Body_02: #888888;
  --Body_03: #999999;
}
