:root {
  --alert: #ec4f4a;
  --a1: #4a634d;
  --a2: #329964;
  --a3: #4caf5b;
  --a4: #3a433b;
  --Title_01: #212121;
  --Title_02: #333333;
  --Body_01: #666666;
  --Body_02: #888888;
  --Body_03: #999999;
  --Surface: #f8f8f8;
  --Line_02: #e5e5e5;
  --Line_03: #ebebeb;
}
